@use 'gameboard-animations.scss';

:root {
  --color-battleship: var(--color-pacman);
  --color-carrier: var(--color-binky);
  --color-destroyer: var(--color-clyde);
  --color-patrolBoat: var(--color-inky);
  --color-submarine: var(--color-pinky);

  // pixels only
  --ship-container-border-size: 6px;

  // ship clone position
  --ship-clone-left: -9999px
  --ship-clone-top: auto;
}

.gameboard-container {
  background: rgba(255, 255, 255, 0.1); /* Frosted glass effect */
  -webkit-backdrop-filter: blur(10px); /* Safari compatibility */
  backdrop-filter: blur(10px); /* Glass blur effect */
  border: 3px ridge silver;
  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.18); /* Subtle border */
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37); /* Soft shadow */
  display: grid;
  grid-template: 1fr / 1fr;
  height: min(380px, 90vw);
  overflow: hidden;
  padding: 1rem;
  position: relative;
  transition: opacity 1s ease, transform 0.5s ease, z-index 0s ease;  // ? Transition test
  width: min(380px, 90vw);

  .gameboard,
  .gameboard-background {
    display: grid;
    gap: min(1.2vw, 0.75rem);
    // ? row-start / column-start / row-span / column-span
    grid-area: 1 / 1 / span 1 / span 1; 
    grid-template: repeat(var(--grid-size), 1fr) / repeat(var(--grid-size), 1fr);
  }

  .gameboard {
    border-radius: inherit;
    pointer-events: none;
    width: 100%;
    z-index: 1;
  }

  .gameboard-background {
    border-radius: inherit;

    .grid-cell-container {
        border-radius: 50%;
        box-shadow: inset 3px 3px 6px rgb(22, 22, 22),
        inset -3px -3px 6px rgb(33, 33, 33);

        .grid-cell {
          border-radius: inherit;
          height: 100%;
          position: relative;
          width: 100%;
          z-index: 0;
        }
    }
  }
}

#player-gameboard-container {
  position: relative;
  z-index: 1;
} 

#opponent-gameboard-container {
  opacity: 1;
  position: absolute;
  transform: scale(0.8) translateY(60px);
  z-index: 0;

  .grid-cell-container {
    position: relative;

    &::before,
    &::after {
      border-radius: inherit;
      content: '';
      inset: 0;
      opacity: 0;
      pointer-events: none;
      position: absolute;
      visibility: hidden;
    }

    &::before {
      background: #292f36;
      box-shadow: inset 7px 7px 14px #101316,
                  inset -7px -7px 14px #424b56;
      transition: opacity 380ms ease-in-out 100ms;
      will-change: opacity;
    }

    &::after {
      animation-play-state: paused;
      animation: rotate 3s linear infinite;
      border: 2px ridge var(--color-binky);
      box-shadow: 0 0 8px var(--color-binky);
      scale: 1.25;
      transition: opacity 200ms ease-in;
      will-change: opacity, transform;
    }

    &:has(.grid-cell:hover)::before,
    &:has(.grid-cell:hover)::after {
      opacity: 1;
      visibility: visible;
    }

    &:has(.grid-cell:hover)::after {
      animation-play-state: running;
    }
  }

  .grid-cell {
    cursor: pointer;
  }
}

.ship-container {
  border: var(--ship-container-border-size) solid black;
  border-radius: 10vw;
  display: grid;
  overflow: hidden;
  pointer-events: auto;
  position: relative;
}

.ship-unit {
  position: relative;
  pointer-events: none;
  transition: opacity 0.8s ease-in;
  z-index: 0;

  &.ship-unit-horizontal:not(:last-of-type) {
    border-right: 1px solid black;
  }

  &.ship-unit-vertical:not(:last-of-type) {
    border-bottom: 1px solid black;
  }

  &.battleship-unit {
    background-color: var(--color-battleship);
  }
  &.carrier-unit {
    background-color: var(--color-carrier);
  }
  &.destroyer-unit {
    background-color:  var(--color-destroyer);
  }
  &.patrolBoat-unit {
    background-color: var(--color-patrolBoat);
  }
  &.submarine-unit {
    background-color: var(--color-submarine);
  }
}

.opponent-ship-container {
  cursor: pointer;
  display: none;
  pointer-events: none;
  rotate: 0;
  scale: 0;
}

.ship-container-clone {
  border-radius: 50vw;
  left: -9999px;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  top: auto;
  visibility: hidden;
  z-index: 2;
  
  &.visible {
    left: var(--ship-clone-left);
    opacity: 1;
    top: var(--ship-clone-top);
    visibility: visible;

    &.placement-is-valid {
      &::before {
        opacity: 0;
      }
      &::after {
        opacity: 1;
      }
    }
  }

  &::before,
  &::after {
    border-radius: inherit;
    content: '';
    height: 100%;
    inset: 0;
    position: absolute;
    width: 100%;
  }

  &::before {
    border: 1px dashed var(--color-binky);
    box-shadow: inset 0 0 12px var(--color-binky);
    opacity: 1;
  }
  
  &::after {
    border: 1px dashed var(--color-funky);
    box-shadow: inset 0 0 12px var(--color-funky);
    opacity: 0;
  }
}