@use 'gameboard-animations.scss';

:root {
  --color-battleship: var(--color-pacman);
  --color-carrier: var(--color-binky);
  --color-destroyer: var(--color-clyde);
  --color-patrolBoat: var(--color-inky);
  --color-submarine: var(--color-pinky);

  // pixels only
  --ship-container-border-size: 6px;

  // ship clone position
  --ship-clone-left: -9999px
  --ship-clone-top: auto;
}

#opponent-gameboard-container {
  .grid-cell-container {
    position: relative;

    &::before {
      animation: rotate 3s linear infinite;
      animation-play-state: paused;
      border: 6px ridge var(--color-edible-ghost);
      border-radius: inherit;
      box-shadow: inset 0 0 8px var(--color-edible-ghost);
      content: '';
      display: grid;
      height: 100%;
      inset: 0;
      opacity: 0;
      place-items: center;
      position: absolute;
      transition: opacity 380ms ease-in;
      visibility: hidden;
      width: 100%;
      will-change: opacity, transform;
    }

    &:has(.grid-cell:hover)::before {
      animation-play-state: running;
      opacity: 1;
      visibility: visible;
    }
  }
  .grid-cell {
    cursor: crosshair;
    position: relative;
  
  }  
}

.gameboard-container {
  background: rgba(255, 255, 255, 0.1); /* Frosted glass effect */
  -webkit-backdrop-filter: blur(10px); /* Safari compatibility */
  backdrop-filter: blur(10px); /* Glass blur effect */
  border: 3px ridge silver;
  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.18); /* Subtle border */
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37); /* Soft shadow */
  display: grid;
  grid-template: 1fr / 1fr;
  height: min(380px, 90vw);
  overflow: hidden;
  padding: 1rem;
  position: relative;
  width: min(380px, 90vw);

    &:has(.ship-container.lower-opacity) .ship-container::before {
      animation-play-state: paused;
    }

    .gameboard,
    .gameboard-background {
      display: grid;
      gap: min(1.2vw, 0.75rem);
      // ? row-start / column-start / row-span / column-span
      grid-area: 1 / 1 / span 1 / span 1; 
      grid-template: repeat(var(--grid-size), 1fr) / repeat(var(--grid-size), 1fr);
    }

    .gameboard {
      border-radius: inherit;
      pointer-events: none;
      width: 100%;
      z-index: 1;
    }

    .gameboard-background {
      border-radius: inherit;

      .grid-cell-container {
        border-radius: 50%;
        box-shadow: inset 3px 3px 6px rgb(22, 22, 22),
        inset -3px -3px 6px rgb(33, 33, 33);

        .grid-cell {
          border-radius: inherit;
          height: 100%;
          position: relative;
          width: 100%;
          z-index: 0;

          &::before {
            border-radius: 50%;
            content: '';
            position: absolute;
            inset: 0;
            opacity: 0;
            background-color: var(--color-funky);
            box-shadow: 0 0 8px var(--color-funky);
            z-index: 1;
          }

          &::after {
            border-radius: 50%;
            content: '';
            position: absolute;
            inset: 0;
            opacity: 0;
            background-color: var(--color-binky);
            box-shadow: 0 0 8px var(--color-binky);
            z-index: 1;
          }

          &.placement-is-valid {
            &::before {
              opacity: 1;
            }
          }

          &.placement-is-invalid {
            &::after {
              opacity: 1;
            }
          }

          // ?
          // &.valid-bow-coordinates {
          //   &:before {
          //     opacity: 1;
          //   }
          // }
        }

        // .player-ca-cell {
        //   background-color: var(--color-carrier);
        //   border-radius: 1rem;
        //   opacity: 0.3;
        // }
        // .player-bs-cell {
        //   background-color: var(--color-battleship);
        //   border-radius: 1rem;
        //   opacity: 0.3;
        // }
        // .player-dd-cell {
        //   background-color: var(--color-destroyer);
        //   border-radius: 1rem;
        //   opacity: 0.3;
        // }
        // .player-pb-cell {
        //   background-color: var(--color-patrolBoat);
        //   border-radius: 1rem;
        //   opacity: 0.3;
        // }
        // .player-sb-cell {
        //   background-color: var(--color-submarine);
        //   border-radius: 1rem;
        //   opacity: 0.3;
        // }
      }
    }
}

.ship-container {
  border: var(--ship-container-border-size) solid black;
  border-radius: 10vw;
  cursor: pointer;
  display: grid;
  overflow: hidden;
  pointer-events: auto;
  position: relative;

  &:not(.adrift):hover {
    transition: transform 380ms ease-out;
    transform: scale(1.05);
  }

  &:not(.adrift):active {
    transition: transform 380ms ease-in-out;
    transform: scale(1);
  }

  &.adrift {
    cursor: grab;

    &::before {
      animation: playerGameboardPulse 1s ease-out alternate infinite;
    }
  }

  &::before {
    animation: none;
    background-color: #2121DE;
    box-shadow: inset 0 0 6px -2px ghostwhite;
    border-radius: inherit;
    content: '';
    opacity:0;
    overflow: auto;
    inset: 0;
    position: absolute;
    z-index: 1;
  }

  &#player-one-battleship-container {
    box-shadow: 0 0 8px var(--color-battleship);

    &::before {
      background-color: var(--color-battleship);
    }
  }
  &#player-one-carrier-container {
    box-shadow: 0 0 8px var(--color-carrier);

    &::before {
      background-color: var(--color-carrier);
    }
  }
  &#player-one-destroyer-container {
    box-shadow: 0 0 8px var(--color-destroyer);

    &::before {
      background-color: var(--color-destroyer);
    }
  }
  &#player-one-patrolBoat-container {
    box-shadow: 0 0 8px var(--color-patrolBoat);

    &::before {
      background-color: var(--color-patrolBoat);
    }
  }
  &#player-one-submarine-container {
    box-shadow: 0 0 8px var(--color-submarine);

    &::before {

      // background-color: var(--color-submarine);
      background-color: black;
    }
  }

  &.lower-opacity {
    opacity: 0.25;
  }
}

.ship-unit {
  position: relative;
  pointer-events: none;
  z-index: 0;

  &::before {
    background-image: url('https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExMnAyejY2bndtZXo0dHd6OHluMXprOWZ6cWsyZzR5bjE2YmdvcjhmZyZlcD12MV9naWZzX3NlYXJjaCZjdD1n/D3fe42PWaeBGT2RpPo/giphy.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50px 50px;
    box-shadow: inset 0 0 6px 1px black;
    content: '';
    inset: 0;
    opacity: 0;
    position: absolute;
    pointer-events: none;
    z-index: 1;
  }

  &.cooked {
    &::before {
      opacity: 1;
    }
  }

  // &.ship-unit-horizontal:not(:last-of-type) {
  //   border-right: 1px solid black;
  // }

  // &.ship-unit-vertical:not(:last-of-type) {
  //   border-bottom: 1px solid black;
  // }

  &.battleship-unit {
    background-color: var(--color-battleship);
  }
  &.carrier-unit {
    background-color: var(--color-carrier);
  }
  &.destroyer-unit {
    background-color:  var(--color-destroyer);
  }
  &.patrolBoat-unit {
    background-color: var(--color-patrolBoat);
  }
  &.submarine-unit {
    background-color: var(--color-submarine);
  }
}

.ship-container-clone {
  border-radius: 50vw;
  left: -9999px;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  top: auto;
  visibility: hidden;
  z-index: 2;
  
  &.visible {
    left: var(--ship-clone-left);
    opacity: 1;
    top: var(--ship-clone-top);
    visibility: visible;

    &.placement-is-valid {
      &::before {
        opacity: 0;
      }
      &::after {
        opacity: 1;
      }
    }
  }

  &::before,
  &::after {
    border-radius: inherit;
    content: '';
    height: 100%;
    inset: 0;
    position: absolute;
    width: 100%;
  }

  &::before {
    border: 1px dashed var(--color-binky);
    box-shadow: inset 0 0 12px var(--color-binky);
    opacity: 1;
  }
  
  &::after {
    border: 1px dashed var(--color-funky);
    box-shadow: inset 0 0 12px var(--color-funky);
    opacity: 0;
  }
}