@keyframes endGameCycloneC {
  0% {
    rotate: 0deg;
    scale: 1.5;
    translate: -100% 0; /* x y */
  }
  50% {
    rotate: 180deg;
    scale: 1;
    translate: 0 0;
  }
  100% {
    rotate: 360deg;
    scale: 1.5;
    translate: 100% 0; /* x y */
  }
}

@keyframes grow {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  
  100% {
    opacity: 0;
    transform: scale(1.75);
  }
}

@keyframes modalIn {
  0% {
    opacity: 0;
    transform: translateY(-100vh) rotate(360deg);
  }
  100% {
    opacity: 1;
    transform: translateY(0) rotate(0);
  }
}

@keyframes modalOut {
  0% {
    opacity: 1;
    transform: translateY(0) rotate(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-100vh) rotate(360deg);
  }
}

@keyframes pulse {
  from {
    opacity: 1
  }
  to {
    opacity: 0;
  }
}

@keyframes rotate {
  0% {
    rotate: 0;
  }
  100% {
    rotate: 360deg;
  }
}