:root {
  --phase-of-war-color: var(--parabellum-color);

  --parabellum-color: var(--color-edible-ghost);
  --bellum-color: var(--color-pacman); 
  --postBellum-color: var(--color-binky); 
}

#content {
  display: flex;
  flex-direction: column;
  transition: scale 3s ease-in-out;
}

body {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  color: ghostwhite;
  font-family: 'pixeBoy', monospace;
  line-height: 1;
  text-shadow: 0 0 8px black;
}

header {
  margin-bottom: 1rem;
  padding-inline: 1rem;
  padding-top: 1rem;

  nav {
    align-items: center;
    display: flex;
    gap: 1.5rem;
    justify-content: center;

    .heading-link {
      color: ghostwhite;
      text-align: center;
      text-decoration: none;
    }

    .git-hub-svg {
      height: 25px;
      width: 25px;
    }
  }
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h1,
h2,
h3 {
  text-shadow: 0 0 12px var(--phase-of-war-color);
}

ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

li {
  list-style: none;
  text-wrap: balance;
  text-shadow: 0 0 1px ghostwhite;
  text-align: center;

  &::before {
    content: '';
    display: inline-block;
    background-image: url('https://cyclone-studios.s3.us-east-2.amazonaws.com/s3_cyclone-studios/alphaLogos/cycloneC/animated/gif+files/flat-white-outline.gif');
    background-size: contain;
    background-repeat: no-repeat;
    filter: drop-shadow(0 0 1px ghostwhite);
    margin-right: 0.125rem;
    width: 15px;
    height: 15px;
    vertical-align: -4px;
  }
}

button {
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .main-container {
    margin-inline: auto;
    width: min(380px, 90vw);
  }

  #main-container-one {
    display: grid;
    place-items: center;
    height: 75px;
    margin-inline: auto;

    .parabellum {
      align-items: center;
      display: flex;
      gap: 1.5rem;
      justify-content: center;
    }

    .bellum {
      align-items: center;
      background: rgba(255, 255, 255, 0.1); /* Frosted glass effect */
      -webkit-backdrop-filter: blur(10px); /* Safari compatibility */
      backdrop-filter: blur(10px); /* Glass blur effect */
      border: 3px ridge silver;
      border-radius: 1rem;
      border: 1px solid rgba(255, 255, 255, 0.18); /* Subtle border */
      box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37); /* Soft shadow */
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      overflow-x: hidden; // * for keeping the swapping mechanism contained
      padding: 1rem 1rem;
      position: relative;
      width: 100%;

      #sit-rep-container {
        align-items: center;
        display: flex;
        flex-direction: row;
        transform: translateX(-25%);
        width: calc(min(380px, 90vw) * 2);

        .sit-rep-slot {
          height: 100%;
          min-width: min(380px, 90vw);
          text-align: center;
          text-wrap: nowrap;
        }

        &.scrolling {
          transform: translateX(25%);
          transition: 1s ease-in-out; 
        }
      }
    }

    .post-bellum {
      #game-over-heading {
        color: var(--phase-of-war-color);
        margin-bottom: 0.5rem;
        position: relative;
        
        &::before {
          animation: pulse 333ms infinite linear alternate;
          color: inherit;
          content: 'Game Over';
          inset: 0;
          position: absolute;
          text-shadow: 0 0 12px inherit;
        }
      }
      #victory-banner {
        // ? might not be necessary when moved to proper place
        text-align: center; 
      }
    }
  }

  #main-container-two {
    display: grid;
    place-items: center;
    position: relative;

    &.parabellum {    
      #player-gameboard-container {
        // ALL ships stop animating when dragging
        &:has(.ship-container[data-dragging="true"]) {
          .ship-container::before {
            animation-play-state: paused;
          }
        }

        .ship-container {
          &:not(.adrift):hover {
            transition: transform 380ms ease-out;
            transform: scale(1.05);
          }

          &:not(.adrift):active {
            transition: transform 380ms ease-in-out;
            transform: scale(1);
          }

          &.adrift {
            cursor: grab;

            &::before {
              animation: playerGameboardPulse 1s ease-out alternate infinite;
            }
          }

          // * Edible ghost flicker pseudo-element
          &::before {
            animation: none;
            background-color: #2121DE;
            box-shadow: inset 0 0 6px -2px ghostwhite;
            border-radius: inherit;
            content: '';
            opacity:0;
            overflow: auto;
            inset: 0;
            position: absolute;
            z-index: 1;
          }

          &[data-dragging="true"] {
            opacity: 0.25;

            // ? while dragging, the ship is locked (rAF implementation)
            &.locked {
              pointer-events: none;
            }
          }
        }

        .grid-cell {
          &::before {
            border-radius: 50%;
            content: '';
            position: absolute;
            inset: 0;
            opacity: 0;
            background-color: var(--color-funky);
            box-shadow: 0 0 8px var(--color-funky);
            z-index: 1;
          }

          &::after {
            border-radius: 50%;
            content: '';
            position: absolute;
            inset: 0;
            opacity: 0;
            background-color: var(--color-binky);
            box-shadow: 0 0 8px var(--color-binky);
            z-index: 1;
          }

          &.placement-is-valid {
            &::before {
              opacity: 1;
            }
          }

          &.placement-is-invalid {
            &::after {
              opacity: 1;
            }
          }
        }
      }
    }

    &.bellum {
      &.player-turn {
        #player-gameboard-container {
          opacity: 0.5;
          position: absolute;
          transform: scale(0.8) translateY(60px);
          z-index: 0;
        }

        #opponent-gameboard-container {
          opacity: 1;
          position: relative;
          transform: scale(1) translateY(0);
          z-index: 1;
        }
      }

      #player-gameboard-container {
        .ship-container {
          cursor: pointer;

          &:hover {
            transition: transform 380ms ease-out;
            transform: scale(1.05);
          }

          &:active {
            transition: transform 380ms ease-in-out;
            transform: scale(1);
          }

          &.sunk {
            animation: cycloneWobble 1.2s ease-in forwards;
          }
        }
      }

      #opponent-gameboard-container {
        .grid-cell {
          cursor: pointer;
        }

        .ship-container.sunk {
          animation: cycloneFadeIn 0.5s ease-in forwards;
          display: grid;
          opacity: 1;
          pointer-events: auto;
          rotate: 0deg;
          scale: 1;  
        }
      }

      .gameboard-container.locked {
        pointer-events: none;

        .ship-container {
          pointer-events: none;
        }
      }

      .grid-cell {
        .hit-marker {
          border-radius: inherit;
          inset: 0;
          position: absolute;
          pointer-events: none;

          &::before,
          &::after {
            border-radius: inherit;
            content: '';
            inset: 0;
            opacity: 0;
            transition: all 500ms ease-in-out;
            visibility: hidden;
            position: absolute;
          }

          // ? hit state
          &::before { 
            background-color: var(--color-binky);
            box-shadow: 0 0 3px var(--color-binky);
            transform: scale(0.50);
          }

          // ? miss state
          &::after {
            background-color: rgba(99, 99, 99, 1);
            box-shadow: 0 0 8px ghostwhite;
            transform: scale(0.33);
          }
        }

        &.hit .hit-marker::before,
        &.miss .hit-marker::after {
          opacity: 1;
          visibility: visible;
        }

        &.hit,
        &.miss {
          cursor: not-allowed;
        }
      }

      .ship-unit {
        // * Cooked pseudo-element
        &::before {
          background-image: url('https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExMnAyejY2bndtZXo0dHd6OHluMXprOWZ6cWsyZzR5bjE2YmdvcjhmZyZlcD12MV9naWZzX3NlYXJjaCZjdD1n/D3fe42PWaeBGT2RpPo/giphy.webp');
          background-position: center;
          background-repeat: no-repeat;
          background-size: 50px 50px;
          box-shadow: inset 0 0 6px 1px black;
          content: '';
          inset: 0;
          opacity: 0;
          position: absolute;
          pointer-events: none;
          transition: inherit;
          z-index: 1;
        }
          &.cooked {
          &::before {
            opacity: 1;
          }
        }
      }
    }

    &.post-bellum {
      #player-gameboard-container {
        .ship-container {
          cursor: pointer;

          &:hover {
            transition: transform 380ms ease-out;
            transform: scale(1.05);
          }
        }
      }
    }
  }

  #main-container-three {
    display: grid;
    place-items: start center;

    .parabellum {
      align-items: center;
      display: flex;
      gap: 3rem;
      padding-top: 1rem;
      justify-content: start;
    }

    .bellum {
      background: rgba(255, 255, 255, 0.1); /* Frosted glass effect */
      -webkit-backdrop-filter: blur(10px); /* Safari compatibility */
      backdrop-filter: blur(10px); /* Glass blur effect */
      border: 3px ridge silver;
      border-radius: 1rem;
      border: 1px solid rgba(255, 255, 255, 0.18); /* Subtle border */
      box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37); /* Soft shadow */
      padding: 1rem 1rem;
      width: min(380px, 90vw);

      #score-board-container {
        .hit-point-container {
          // ! for testing
          .hit-point {
            &:hover::before,
            &:hover::after {
              opacity: 1;
              scale: 1;
            }
          }
        }

        .hit-point-container {
          .hit-point.hit {
            &::before,
            &::after {
              opacity: 1;
              scale: 1;
            }
          }
        }
      }
    }

    .post-bellum {
      height: 75px;
      padding-block: 2rem;
      width: min(380px, 90vw);

      #end-game-button-container {
        display: flex;
        gap: 1rem;
        justify-content: center;

        #play-again-button {
          --button-color: var(--color-funky);
        }

        #find-new-opponent-button {
          --button-color: var(--color-pacman);
        }

        .end-game-button {
          border: 1px solid var(--button-color);
          border-radius: 18px;
          box-shadow: inset 0 0 8px;
          color: var(--button-color);
          font-size: 1.25rem;
          padding-block: 6px;
          transition: all 100ms ease-in-out;
          width: 50%;
          text-shadow: 0 0 3px var(--button-color);
          
          &:hover:not(:disabled) {
            opacity: 0.85;
          }

          &:active:not(:disabled) {
            opacity: 1;
            scale: 0.98;
          }
        }
      }
    }
  }
}