:root {
  --phase-of-war-color: var(--parabellum-heading-text-shadow-color);
  --parabellum-heading-text-shadow-color: #2121DE; // TODO: update cyclone reset to include `color-edible-ghost`
  --bellum-heading-text-shadow-color: var(--color-pacman); 
  --post-bellum-heading-text-shadow-color: var(--color-binky); 
}

body {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  color: ghostwhite;
  font-family: 'pixeBoy', monospace;
  line-height: 1;
  text-shadow: 0 0 8px black;
}

header {
  margin-bottom: 1rem;
  padding-inline: 1rem;
  padding-top: 1rem;

  nav {
    align-items: center;
    display: flex;
    gap: 1.5rem;
    justify-content: center;

    .heading-link {
      color: ghostwhite;
      text-align: center;
      text-decoration: none;
    }

    .git-hub-svg {
      height: 25px;
      width: 25px;
    }
  }
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h1, h2, h3 {
  text-shadow: 0 0 12px var(--phase-of-war-color);
}

ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

li {
  list-style: none;
  text-wrap:  balance;
  text-shadow: 0 0 1px ghostwhite;
  text-align: center;

  &::before {
    content: '';
    display: inline-block;
    background-image: url('https://cyclone-studios.s3.us-east-2.amazonaws.com/s3_cyclone-studios/alphaLogos/cycloneC/animated/gif+files/flat-white-outline.gif');
    background-size: contain;
    background-repeat: no-repeat;
    filter: drop-shadow(0 0 1px ghostwhite);
    margin-right: 0.125rem;
    width: 15px;
    height: 15px;
    vertical-align: -4px;
  }
}

button {
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  // .main-container {
    // ?
  // }

  #main-container-one {

    .parabellum {
      align-items: center;
      display: flex;
      gap: 1.5rem;
      justify-content: center;
      
      #information-button-container {
        display: grid;
        place-items: center;

        #information-button {
          filter: invert(1);
          height: 1.5rem;
          width: 1.5rem;
        }
      }
    }

    // .bellum {
      // ?
    // }

    // .post-bellum {
      // ?
    // } 
  }

  #main-container-two {
    display: grid;
    place-items: center;
    position: relative;

    #opponent-gameboard-container {
      opacity: 0.5;
      pointer-events: none;
      position: absolute;
      transform: scale(0.8) translateY(8vh);
      z-index: -1;
    }
  }

  #main-container-three {

    .parabellum {
      align-items: center;
      display: flex;
      gap: 3rem;
      justify-content: center;

      .ship-shuffler-button {
        --size: 4rem;

        border-radius: 50%;
        border: 2px solid #090909;
        background-color: transparent;
        background: linear-gradient(145deg, #19202f, #0d0f16);
        box-shadow: inset 1px 1px 0 #1e2841, inset -1px -1px 0px #1c1c1c;
        color: ghostwhite;
        display: grid;
        height: var(--size);
        width: var(--size);
        place-items: center;
        position: relative;
        font-family: 'pixeBoy', monospace;

        &::before {
          background-color: transparent;
          background-image: linear-gradient(145deg, #262626, #434343);
          border-radius: inherit;
          box-shadow: 7px 7px 6px #141414, -7px -7px 6px #1e283c;
          content: '';
          inset: 0;
          position: absolute;
          z-index: -1;
        }
      }

      .ready-up-button {
        --size: 75px;

        aspect-ratio: 13 / 9; // aspect ratio of inactive SVG
        color: ghostwhite;
        height: auto;
        position: relative;
        width: var(--size);

        .ready-up-button-text {
          display: inline-block;
          bottom: -1.75rem;
          left: 0;
          right: 0;
          position: absolute;
        }

        .inactive-ready-up-button,
        .active-ready-up-button {
          filter: drop-shadow(0 3px 3px black);
          bottom: 0;
          left: 0;
          right: 0;
          position: absolute;
          width: 100%;
          z-index: -1;
        }

        .inactive-ready-up-button {
          opacity: 1;
        }

        .active-ready-up-button {
          opacity: 0;
        }

        &:active {
          .inactive-ready-up-button {
            opacity: 0;
          }
          .active-ready-up-button {
            opacity: 1;
          }
        }
      }
    }

    // .bellum {
      // ?
    // }

    // .post-bellum {
      // ?
    // } 
  }
}

#content {
  // display: flex;
  // grid-template-areas: 'heading heading';
  // flex-direction: column;
}