:root {
  --phase-of-war-color: var(--parabellum-heading-text-shadow-color);
  --parabellum-heading-text-shadow-color: #2121DE; // TODO: update cyclone reset to include `color-edible-ghost`
  --bellum-heading-text-shadow-color: var(--color-pacman); 
  --post-bellum-heading-text-shadow-color: var(--color-binky); 
}

body {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  color: ghostwhite;
  font-family: 'pixeBoy', monospace;
  line-height: 1;
  text-shadow: 0 0 8px black;
}

header {
  margin-bottom: 1rem;
  padding-inline: 1rem;
  padding-top: 1rem;

  nav {
    align-items: center;
    display: flex;
    gap: 1.5rem;
    justify-content: center;

    .heading-link {
      color: ghostwhite;
      text-align: center;
      text-decoration: none;
    }

    .git-hub-svg {
      height: 25px;
      width: 25px;
    }
  }
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h1, h2, h3 {
  text-shadow: 0 0 12px var(--phase-of-war-color);
}

ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

li {
  list-style: none;
  text-wrap:  balance;
  text-shadow: 0 0 1px ghostwhite;
  text-align: center;

  &::before {
    content: '';
    display: inline-block;
    background-image: url('https://cyclone-studios.s3.us-east-2.amazonaws.com/s3_cyclone-studios/alphaLogos/cycloneC/animated/gif+files/flat-white-outline.gif');
    background-size: contain;
    background-repeat: no-repeat;
    filter: drop-shadow(0 0 1px ghostwhite);
    margin-right: 0.125rem;
    width: 15px;
    height: 15px;
    vertical-align: -4px;
  }
}

button {
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  // .main-container {
    // ?
  // }

  #main-container-one {

    .parabellum {
      align-items: center;
      display: flex;
      gap: 1.5rem;
      justify-content: center;
    }

    // .bellum {
      // ?
    // }

    // .post-bellum {
      // ?
    // } 
  }

  #main-container-two {
    display: grid;
    place-items: center;
    position: relative;

    &.opponent-turn {
      #player-gameboard-container {
        opacity: 0.5;
        pointer-events: none;
        // position: absolute;
        transform: scale(0.8) translateY(60px);
        z-index: -1;
      }

      #opponent-gameboard-container {
        opacity: 1;
        pointer-events: auto;
        position: absolute;
        transform: scale(1) translateY(0);
        z-index: 1;
      }
    }
    #opponent-gameboard-container {
      opacity: 0.5;
      pointer-events: none;
      position: absolute;
      transform: scale(0.8) translateY(60px);
      z-index: -1;
    }

  }

  #main-container-three {

    .parabellum {
      align-items: center;
      display: flex;
      gap: 3rem;
      justify-content: center;
    }

    // .bellum {
      // ?
    // }

    // .post-bellum {
      // ?
    // } 
  }
}

#content {
  // display: flex;
  // grid-template-areas: 'heading heading';
  // flex-direction: column;
}