:root {
  --color-battleship: var(--color-pacman);
  --color-carrier: var(--color-binky);
  --color-destroyer: var(--color-clyde);
  --color-patrolBoat: var(--color-inky);
  --color-submarine: var(--color-sue);
}

.gameboard-container {
  display: grid;
  grid-template: 1fr / 1fr;
  height: 50vw;
  position: relative;
  width: 50vw;

    .gameboard,
    .gameboard-background {
      display: grid;
      // ? row-start / column-start / row-span / column-span
      grid-area: 1 / 1 / span 1 / span 1; 
      grid-template: repeat(var(--grid-size), 1fr) / repeat(var(--grid-size), 1fr);
    }

    .gameboard {
      pointer-events: none;
      width: 100%;
      z-index: 1;
    }

    .gameboard-background {
      .grid-cell-container {
        border: 1px solid rgba(128, 128, 128, 0.633);

        .grid-cell {
          background: rgba(255, 255, 255, 0.1); /* Frosted glass effect */
          box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37); /* Soft shadow */
          backdrop-filter: blur(10px); /* Glass blur effect */
          -webkit-backdrop-filter: blur(10px); /* Safari compatibility */
          // border: 1px solid rgba(255, 255, 255, 0.18); /* Subtle border */
          height: 100%;
          position: relative;
          width: 100%;
          z-index: 0;

          &::before {
            content: '';
            position: absolute;
            inset: 0;
            opacity: 0;
            background-color: green;
            z-index: 1;
          }

          &::after {
            content: '';
            position: absolute;
            inset: 0;
            opacity: 0;
            background-color: red;
            z-index: 1;
          }

          &.placement-is-valid {
            &::before {
              opacity: 1;
            }
          }

          &.placement-is-invalid {
            &::after {
              opacity: 1;
            }

          }

          // ?
          // &.valid-bow-coordinates {
          //   &:before {
          //     opacity: 1;
          //   }
          // }
        }

        .player-ca-cell {
          background-color: var(--color-carrier);
          opacity: 0.3;
        }
        .player-bs-cell {
          background-color: var(--color-battleship);
          opacity: 0.3;
        }
        .player-dd-cell {
          background-color: var(--color-destroyer);
          opacity: 0.3;
        }
        .player-pb-cell {
          background-color: var(--color-patrolBoat);
          opacity: 0.3;
        }
        .player-sb-cell {
          background-color: var(--color-submarine);
          opacity: 0.3;
        }
      }
    }
}

.ship-container {
  border: 1px solid black;
  cursor: grab;
  pointer-events: auto;
  position: relative;

  &#player-one-battleship-container {
    box-shadow: 0 0 8px var(--color-battleship);
  }
  &#player-one-carrier-container {
    box-shadow: 0 0 8px var(--color-carrier);
  }
  &#player-one-destroyer-container {
    box-shadow: 0 0 8px var(--color-destroyer);
  }
  &#player-one-patrolBoat-container {
    box-shadow: 0 0 8px var(--color-patrolBoat);
  }
  &#player-one-submarine-container {
    box-shadow: 0 0 8px var(--color-submarine);
  }
}

.ship-unit {
  border: 1px solid rgb(0, 0, 0);
  opacity: 1;
  pointer-events: none;

  &.battleship-unit {
    background-color: var(--color-battleship);
  }
  &.carrier-unit {
    background-color: var(--color-carrier);
  }
  &.destroyer-unit {
    background-color:  var(--color-destroyer);
  }
  &.patrolBoat-unit {
    background-color: var(--color-patrolBoat);
  }
  &.submarine-unit {
    background-color: var(--color-submarine);
  }
}

.ship-container-clone {
  border: 1px dashed red;
  background-color: hsla(0, 100%, 50%, 0.35);
  left: -9999px;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  top: auto;
  visibility: hidden;
}