.gameboard-container {
  border: 1px solid black;
  display: grid;
  grid-template: 1fr / 1fr;
  height: 33vw;
  position: relative;
  width: 33vw;

    .gameboard,
    .gameboard-background {
      display: grid;
      // ? row-start / column-start / row-span / column-span
      grid-area: 1 / 1 / span 1 / span 1; 
      grid-template: repeat(var(--grid-size), 1fr) / repeat(var(--grid-size), 1fr);
    }

    .gameboard {
      pointer-events: none;
      width: 100%;
      z-index: 1;
    }

    .gameboard-background {
      .grid-cell-container {
        border: 1px solid black;

        .grid-cell {
          background-color: aqua;
          height: 100%;
          position: relative;
          width: 100%;
          z-index: 0;

          &::before {
            content: '';
            position: absolute;
            inset: 0;
            opacity: 0;
            background-color: green;
            z-index: 1;
          }

          &::after {
            content: '';
            position: absolute;
            inset: 0;
            opacity: 0;
            background-color: red;
            z-index: 1;
          }

          &.placement-is-valid {
            &::before {
              opacity: 1;
            }
          }

          &.placement-is-invalid {
            &::after {
              opacity: 1;
            }

          }

          // ?
          // &.valid-bow-coordinates {
          //   &:before {
          //     opacity: 1;
          //   }
          // }
        }

        .player-two-ca-cell {
          background-color: red;
          opacity: 0.3;
        }
        .player-two-bs-cell {
          background-color: blue;
          opacity: 0.3;
        }
        .player-two-dd-cell {
          background-color: green;
          opacity: 0.3;
        }
        .player-two-pb-cell {
          background-color: yellow;
          opacity: 0.3;
        }
        .player-two-sb-cell {
          background-color: purple;
          opacity: 0.3;
        }
      }
    }
}

.ship-container {
  border: 2px solid black;
  cursor: grab;
  pointer-events: auto;
  position: relative;
  
  .ship-unit {
    background-color: red;
    opacity: 0.2;
    pointer-events: none;
  }
}

.ship-container-clone {
  border: 1px dashed red;
  background-color: hsla(0, 100%, 50%, 0.35);
  left: -9999px;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  top: auto;
  visibility: hidden;
}